* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    font-family:Impact;
    color:black;
    font-size:170%;
    font-weight:100;
    letter-spacing:2px;
    margin-left:30%;
}

#myVideo {
z-index: -1;
position: absolute;
right:0;
bottom:0;
min-width: 100%;
min-height: 100%;
opacity: 0.4;
}



.title {
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Franklin Gothic Medium';
}

#flex-container {
    display: flex;
     z-index: 3;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 40%;
    margin-right: 40%;
    
}



#foto {
    width:150%;
    height:150%;
}

.btn  {
   margin-left: 40%;
}